/* * { 
    outline: 1px dotted red; 
} */

.container {
    font-family: Arial, Helvetica, sans-serif
}

#scores {
    position: relative;
    top: 20px;
    color: purple;
    margin: 20px;
    padding: 5px;

} 

#questions {
    color: whitesmoke;
    background-color: purple;
    border-radius: 5px;
    padding: 5px;
    margin: 15px; 
}

.home {
    text-align: center;
    margin-top: 7%; 
    margin-bottom: 10%;
}

.button {
    text-decoration: none;
}


h1 {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

p {
    padding: 7px;
    margin: 7px;
}