#game {
    text-align: center;
}

.choice-container {
    display: flex; 
    width: 30%;
    font-size: 16px;
    border: 4px solid #f5c3fa;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 15px;
}

.choice-container:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 150ms;
}

.choice-prefix {
    background-color: #91169c;
    color: white;
}

.choice-text {
    width: 100%;
    text-align: left;
} 

.correct {
    background-color: rgb(104, 192, 104);
}

.incorrect {
    background-color: rgb(238, 115, 115);
}